<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{baseURL + dish.image}}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button [routerLink]="['/dishdetail', prev]" class="prevNextButton">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button routerLink='/menu'>MENU</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button [routerLink]="['/dishdetail', next]" class="prevNextButton">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex [hidden]="dish || errMsg">
    <mat-spinner></mat-spinner>
    <h4>Loading...please wait :)</h4>
  </div>
  <div fxFlex *ngIf="errMsg">
    <h2>Error</h2>
    <h4>{{errMsg}}</h4>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
      <h3>Comments</h3>
        <mat-list *ngFor="let comment of dish.comments">
          <p>{{comment.comment}} <br>
            {{comment.rating}} Stars <br>
            --{{comment.author}} {{comment.date | date:'dd LLLL YYYY'}} </p>
          </mat-list>
            <form novalidate [formGroup]="CommentForm" (ngSubmit)="onSubmit()">
              <p>
                <mat-form-field>
                 <input matInput formControlName="name" placeholder="name" type="text" required> 
                 <mat-error *ngIf="formErrors.name">
                  {{formErrors.name}}
                 </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-slider min="1" max="5" step="1" discrete showTickMarks>
                  <input  formControlName="rating" matSliderThumb >
                </mat-slider>
              </p>
              <p>
                <mat-form-field>
                 <textarea matInput formControlName="comment" rows="5" required></textarea>
                 <mat-error *ngIf="formErrors.comment">
                  {{formErrors.comment}}
                 </mat-error>
                </mat-form-field>
              </p>
              <button type="submit" mat-button class="background-primary text-floral-white"
              [disabled]="CommentForm.invalid">Submit</button>
            </form>
        </div>
</div>